.top_bar {
    background-color: #3282A7;
    height: 30px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    font-family: Arial;
}

.top_bar .title {
    float: left;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 3px 35px 3px 15px;
}

.tab {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    height: 100%;
    width: 150px;
    background-color: inherit;
    font-weight: bold;
    font-size: 15px;
}

.tab:hover {
    background-color: #4090C0;
}

.tab.active {
    background-color: #50A0D0;
}


.contents {
    height: calc(100% - 30px);
    width: 100%;
    margin-top: 30px;
}

.display {
    width: calc(100% - 415px);
    position:absolute;
    top:30px;
    height: calc(100% - 70px);
    padding-top: 20px;
    visibility: hidden;
}

.display.active {
    visibility: visible !important;
}

.display object {
    width: 100%;
    height: 100%;
}

.info_box {
    width: 400px;
    background-color: #E8E8E8;
    height: 100%;
    position: fixed;
    top: 30px;
    right: 0px;
    font-family: Arial;
}

.controls {
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.controls label {
    font-size: 16px;
    font-weight: normal;
}

.controls button {
    border: 0px;
    font-size: 18px;
    margin: 2px;
    padding: 5px;
    background-color: #E0E0E0;
}

.controls button:hover {
    background-color: #D0D0D0;
}

.controls button:active {
    background-color: #C8C8C8;
}

#address {
    border: 0px;
    width: 90px;
    height: 30px;
    background-color: #F8F8F8;
    font-size: 20px;
    font-weight: bold;
}

.info_table {
    width: 100%;
    border-spacing: 0px;
}

.info_header {
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding-top: 15px;
}

.wire_button {
    width: 200px;
    font-size: 20px;
    border: 0px;
    background-color: #E8E8E8;
}

.wire_button:hover {
    background-color: #D0D0D0;
}

.wire_button:active {
    background-color: #C8C8C8;
}

.wire_active {
    background-color: #C8C8C8;
    font-weight: bold;
}

.wide {
    width: 400px !important;
}

#core_info {
    font-size: 18px;
    padding-left: 90px;
}

#core_info td {
    width: 100px;
    vertical-align: top;
}

#picked_core {
    font-size: 20px;
}

#tab_2 {
    padding-left: 200px;
    padding-right: 200px;
    overflow-y: auto;
    width: calc(100% - 815px) !important;
}

#core_anim {
    width: 1000px;
    height: 400px;
    border: 0px;
    font-family: "Times New Roman";
}

#tab_2 table, #tab_2 th, #tab_2 td {
    border: 1px solid black;
    border-collapse: collapse;
}

#tab_2 th, #tab_2 td {
    padding: 5px;
}
